body, html {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #b3daff;
}
.block {
    text-align : center;
    box-sizing: border-box;
    border: 0.5px solid black;
}
#container {
    display: grid;
    margin: auto;
    width: 550px;
    height: 550px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}
#btn-cont {
    display: flex;
    justify-content: center;
    padding: 10px;
}
h1 {
    text-align:center;
    font-family: 'Kaushan Script';
    margin-bottom: 5px;
}
#btn {
    display: inline-block;
    padding: 5px 20px;
    margin-bottom: 10px;
    background-color: #f1c40f;
    border-radius: 0.12em;
    border: 0.1em solid;
}
#modeBtn {
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 10px;
    background-color: #f1c40f;
    border-radius: 0.12em;
    border: 0.1em solid;
    margin-left: 5px;
}
@media (max-width: 767px) {
    #container {
        max-width: 100%;
    }
}